.no-js .hide-on-no-js {
	display:none;
}

form {
	margin-bottom:20px;
}

.loader {
	margin-top:50px;
	text-align:center;
}

body {
    background-image:    "./img/clear-sky.jpg";
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}
